/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --background: #2F5B9D;
    --bg-mid-dark: #3B67A9;
    --bg-mid: #4273BE;
    --bg-mid-light: #4B83D7;
    --bg-light: #76A6EF;
    --text: #FFFFFF;
    --neutral: #393939;
    --orange: #E98321;
    --green: #34B233;
    --magenta: #AC2973;
    --light-blue: #0273CF;
    --light-purple: #9C5FB5;
    --dark-blue: #003591;
}

h1 {
    text-align: center;
    font-size: clamp(4rem, 9vw, 4.6rem);
    text-transform: uppercase;
    letter-spacing: 2%;
    line-height: 0.9;
    text-shadow: 0px 4px rgba(0,0,0,0.25);
}

/* -------------------------------------------------------------------------- */
/*                              Basic Formatting                              */
/* -------------------------------------------------------------------------- */

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    background: linear-gradient(
        var(--background) 10%,
        var(--bg-mid-dark) 10% 15%,
        var(--bg-mid) 15% 20%,
        var(--bg-mid-light) 20% 25%,
        var(--bg-light) 25% 75%,
        var(--bg-mid-light) 75% 80%,
        var(--bg-mid) 80% 85%,
        var(--bg-mid-dark) 85% 90%,
        var(--background) 90%
    );
    color: var(--text);
    font-family: 'Fredoka', sans-serif;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}


/* -------------------------------------------------------------------------- */
/*                           Styles for Each Screen                           */
/* -------------------------------------------------------------------------- */

/* Main Game Screen */

#game {
    padding: 3%;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
}

.header-area {
    position: relative;
}

.subheader {
    display: block;
    font-size: clamp(2rem, 4.7vw, 2.4rem);
    letter-spacing: 11%;
}

.nav {
    position: absolute;
    right: 0;
    top: 50%;
}

.card-area {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(3, 30%);
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--neutral);
    border: 0.3rem solid #66F065;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.flag-image {
    width: 80%;
    height: auto;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, 
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 0.5rem;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background: url("../images/logo.svg");
    background-position: center center;
    background-size: 35%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}


/* Standby Screen */

#standby-screen {
    background-color: var(--magenta);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about {
    background-color: var(--dark-blue);
    position: absolute;
    top: 0;
    left: 0;
}

#game-rules {
    width: 30vw;
    height: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
}

#fun-fact {
    width: 40vw;
    height: 20vh;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--background);
}

/* Hiding Screens */

.hidden {
    display: none !important; 
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 3000px) {
	h1 {
        font-size: 300px;
        text-shadow: 0px 20px rgba(0,0,0,0.25);
    }

    .subheader {
        font-size: 150px;
    }
}