/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    font-size: 16px;
    --background: #2F5B9D;
    --bg-mid-dark: #3B67A9;
    --bg-mid: #4273BE;
    --bg-mid-light: #4B83D7;
    --bg-light: #76A6EF;
    --text: #FFFFFF;
    --dark: #1B1B1B;
    --neutral: #393939;
    --orange: #E98321;
    --green: #B8FFB7;
    --magenta: #DB72AD;
    --light-blue: #0273CF;
    --light-purple: #CA89E5;
    --dark-blue: #003591;
}

/* -------------------------------------------------------------------------- */
/*                              Basic Formatting                              */
/* -------------------------------------------------------------------------- */

body {
    position: relative;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;

    background: linear-gradient(
        var(--background) 10%,
        var(--bg-mid-dark) 10% 15%,
        var(--bg-mid) 15% 20%,
        var(--bg-mid-light) 20% 25%,
        var(--bg-light) 25% 75%,
        var(--bg-mid-light) 75% 80%,
        var(--bg-mid) 80% 85%,
        var(--bg-mid-dark) 85% 90%,
        var(--background) 90%
    );
    color: var(--text);
    font-family: 'Fredoka', sans-serif;
}

.fullscreen {
    height: 100dvh;
    width: 100vw;
}

h1 {
    text-align: center;
    font-size: clamp(4rem, 9vw, 4.6rem);
    text-transform: uppercase;
    letter-spacing: 2%;
    line-height: 0.9;
    text-shadow: 0px 0.25rem rgba(0,0,0,0.25);
}

p {
    margin-top: 1em;
}

.btn {
    padding: 1rem;
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2%;
    color: var(--dark);
    background-color: var(--light-purple);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0.25rem rgba(0,0,0,0.25);
}

#to-game {
    font-size: 1.5rem;
    padding: 1rem 3rem;
}

#open-about {
    background-color: var(--green);
    margin-left: 0.5rem;
}

#close-about,
#close-win {
    margin-top: 1.5rem;
}

#restart {
    background-color: var(--magenta);
    margin-left: 0.5rem;
}

.logo {
    height: 4rem;
    margin-bottom: 1rem;
}


/* -------------------------------------------------------------------------- */
/*                           Styles for Each Screen                           */
/* -------------------------------------------------------------------------- */

/* Main Game Screen */

.upper-clouds {
    position: absolute;
    height: 10dvh;
    top: 5%;
    left: -3%;
}

.lower-clouds {
    position: absolute;
    height: 10dvh;
    bottom: 5%;
    right: -3%;
    z-index: -1;
}

#game {
    padding: 3%;

    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
}

.subheader {
    display: block;
    font-size: clamp(2rem, 4.7vw, 2.4rem);
    letter-spacing: 11%;
}

.card-area {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: repeat(3, 30%);
}

.card {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    background-color: var(--neutral);
    border: 0.3rem solid var(--green);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.flag-image {
    width: auto;
    height: 80%;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, 
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 0.5rem;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background: url("../images/logo.svg");
    background-position: center center;
    background-size: 35%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.footer-area {
    margin-top: 2%;
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character-space {
    max-height: 20dvh;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.character-space img {
    max-height: 15dvh;
}

p.speaking {
    width: 35vw;
    margin: 0;
    padding: 1rem;
    background-color: var(--text);
    color: var(--dark);
    border-radius: 1rem;
    box-shadow: 0px 0.25rem rgba(0,0,0,0.25);
}

/* Popups */

#about {
    width: 80vw;
    height: 70dvh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    border-radius: 1rem;
}

#win {
    width: 60vw;
    height: 60dvh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    border-radius: 1rem;
}

.about-info {
    height: 100%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-info > div {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-info > div > img {
    max-width: 35%;
}

#about::backdrop,
#win::backdrop {
    background-color: var(--dark);
    opacity: 0.5;
}

/* Standby Screen */

#standby-screen {
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-info > div {
    height: 50%;
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.centered-info > div > img {
    max-height: 90%;
}

.decor-upper-clouds {
    position: absolute;
    height: 10dvh;
    top: 5%;
    left: -3%;
}

.decor-lower-clouds {
    position: absolute;
    height: 10dvh;
    bottom: 5%;
    right: -3%;
}

.decor-one {
    width: 12vw;
    height: auto;
    position: absolute;
    top: 40%;
    left: -2%;
    transform: rotate(15deg);
}

.decor-two {
    width: 15vw;
    height: auto;
    position: absolute;
    top: 40%;
    right: -2%;
    transform: rotate(-12deg);
}

.decor-three {
    width: 14vw;
    height: auto;
    position: absolute;
    top: 8%;
    left: 15%;
    transform: rotate(-8deg);
}

.decor-four {
    width: 13vw;
    height: auto;
    position: absolute;
    top: -3%;
    right: 20%;
    transform: rotate(10deg);
}

.decor-five {
    width: 15vw;
    height: auto;
    position: absolute;
    bottom: -2%;
    left: 10%;
    transform: rotate(-32deg);
}

.decor-six {
    width: 12vw;
    height: auto;
    position: absolute;
    bottom: -2%;
    right: 20%;
    transform: rotate(18deg);
}

/* Hiding Screens */

.hidden {
    display: none !important; 
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (min-width: 3000px) {
    :root {
        font-size: 48px;
    }

	h1 {
        font-size: 300px;
        text-shadow: 0px 20px rgba(0,0,0,0.25);
    }

    .subheader {
        font-size: 150px;
    }

    #about {
        width: 60vw;
        height: 70dvh;
    }

    #win {
        width: 45vw;
        height: 50dvh;
    }

    .about-info {
        margin: 0 2%;
    }

    .about-info > div > img {
        max-width: 25%;
    }
}